<html lang='en' class='backer'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!--This is the link for Font Awesome-->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
      integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />

    <!--This is the Tailwind CSS-->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css'
      referrerpolicy='no-referrer'
    />

    <!--This is the standard CSS-->
    <link rel='stylesheet' href='/css/style.css' />

    <title>Memoria the Protectors</title>
  </head>
  <body id='bg'>
<!DOCTYPE html>
<html lang="en" class="backer">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--This is the link for Font Awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!--This is the Tailwind CSS-->

    <!--This is the standard CSS-->
    <link rel="stylesheet" href="./public/css/style.css" />

    <title>Memoria the Protectors</title>
  </head>
  <body id="bg">
    <!--The CSS and JS will need to be added via routes instead of the paths listed.  This page is just for us to mock up.  We will then slice this HTML page to Handlebars Main and then each other section to a partial handlebars file-->

    <!--This is the header-->
    <header id="header" class="header">
      <h1>
        <i class="fa-solid fa-dragon"></i>Memoria
        <span class="itallic"> the Protectors</span>
      </h1>
      <div class="icons">
        <div class="drop-container">
          <button
            id="dropdownButton"
            data-dropdown-toggle="dropdown"
            class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-lg px-2 py-2.5 text-center inline-flex items-center hamburger"
            type="button"
          >
            <i class="fa-solid fa-bars hamburger"></i>
          </button>
        </div>
        <!--Dark Mode Button-->
        <button
          id="dark-mode-button"
          class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-lg px-2 py-2.5 text-center inline-flex items-center hamburger"
          type="button"
        >
          <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
      </div>
    </header>

  
      <!-- Dropdown menu items-->
      <div
        id="dropdown"
        class="z-10 hidden bg-white divide-y dropdown divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownDefaultButton"
        >
          <li>
            <a
              href="/"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/dashboard"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="/features"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Features</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >About</a
            >
          </li>
          <li>
            <a
              href="logIn"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Log In</a
            >
          </li>
        </ul>
      </div>

      {{{body}}}

      
    <footer id="footer" class="copyright">
      <h2 class="">
        <i class="fa-regular fa-copyright"></i> All Rights Reserved 2023 Ryan
        Fann
      </h2>
    </footer>

    <!--This is the front end Javascript-->
    <script src="/js/index.js"></script>
  </body>
</html>
