<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
</head>
    <!-- Grid Container -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4 md:m-12 mt-11">
        <!-- Carousel Container -->
        <div class="owl-carousel owl-theme w-full max-w-3xl mt-11 mb-11">
            <!-- Carousel Items (Repeat the structure) -->
            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Brinx.JPG" alt="Brinx" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Brinx</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Djinni.JPG" alt="Djinni" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Djinni</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Dwarn.jpg" alt="Dwarn" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Dwarn</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Elves.JPG" alt="Elves" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Elves</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Humans.jpg" alt="Humans" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Humans</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Musculus.JPG" alt="Musculus" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Musculus</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Polkans (2).jpg" alt="Polkans" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Polkans</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Potec (2).JPG" alt="Potec" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Potec</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Ryderz.JPG" alt="Ryderz" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Ryderz</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Skorc.jpg" alt="Skorc" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Skorc</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Treeton.JPG" alt="Treeton" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Treeton</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Tunkles.jpeg" alt="Tunkles" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Tunkles</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Wereman.jpg" alt="Wereman" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Brinx</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Paragraph Container -->
        <div class="custom-paragraph p-6 mb-11 pb-11 md:order-first text-center flex items-center flex-col justify-center">
            <h1 class="title text-4xl font-bold mb-6">memoria the Protectors </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores quod deleniti debitis nam architecto incidunt distinctio
                eos nesciunt quidem alias quam, ut ullam temporibus libero ratione aut in. Qui.
            </p>
        </div>
    </div>
<span class="relative flex justify-center pt-11 mt-11">
  <div
    class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"
  ></div>

</span>

            <h1 class="title text-4xl font-bold  mt-11 mb-6 pt-11">About</h1>



        <div class="custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto">
            <h1 class="title text-4xl font-bold  mt-11 mb-6">Character builder</h1>
            <p >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores quod deleniti debitis nam architecto incidunt distinctio
                eos nesciunt quidem alias quam, ut ullam temporibus libero ratione aut in. Qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores quod deleniti debitis nam architecto incidunt distinctio
                eos nesciunt quidem alias quam, ut ullam temporibus libero ratione aut in. Qui.
            </p>
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4 md:m-12 mt-11 -mb-11">
        <!-- Carousel Container -->
        <div class="owl-carousel owl-theme w-full max-w-3xl mt-11">
            <!-- Carousel Items (Repeat the structure) -->
            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Brinx.JPG" alt="Brinx" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Brinx</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Djinni.JPG" alt="Djinni" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Djinni</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Dwarn.jpg" alt="Dwarn" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Dwarn</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Elves.JPG" alt="Elves" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Elves</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Humans.jpg" alt="Humans" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Humans</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Musculus.JPG" alt="Musculus" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Musculus</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Polkans (2).jpg" alt="Polkans" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Polkans</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Potec (2).JPG" alt="Potec" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Potec</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Ryderz.JPG" alt="Ryderz" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Ryderz</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Skorc.jpg" alt="Skorc" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Skorc</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Treeton.JPG" alt="Treeton" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Treeton</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Tunkles.jpeg" alt="Tunkles" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Tunkles</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="bg-white rounded-lg overflow-hidden shadow-md">
                    <img src="../assets/images/races/Wereman.jpg" alt="Wereman" class="w-full custom-carousel-height p-6 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mb-2">Brinx</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>


            <div class="custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto">
            <h1 class="title text-4xl font-bold  mt-11 mb-6">Focus</h1>
            <p >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores quod deleniti debitis nam architecto incidunt distinctio
                eos nesciunt quidem alias quam, ut ullam temporibus libero ratione aut in. Qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores quod deleniti debitis nam architecto incidunt distinctio
                eos nesciunt quidem alias quam, ut ullam temporibus libero ratione aut in. Qui.
            </p>
        </div>


<div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8 p-11">
    <div class="h-auto rounded-lg bg-gray-200 my-11 p-6 transition-transform transform hover:scale-105">
        <!-- Placeholder for Icon (replace with your actual icon) -->
        <div class="w-12 h-12 bg-gray-300 rounded-full mb-4"></div>
        
        <!-- Title for Name -->
        <h2 class="text-xl font-semibold mb-2">Focus 1</h2>
        
        <!-- Unordered List of 4 Items -->
        <ul class="list-disc pl-4">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
        </ul>
    </div>

    <!-- Repeat the structure for other cards -->
    
    <div class="h-auto rounded-lg bg-gray-200 my-11 p-6 transition-transform transform hover:scale-105">
        <!-- Placeholder for Icon (replace with your actual icon) -->
        <div class="w-12 h-12 bg-gray-300 rounded-full mb-4"></div>
        
        <!-- Title for Name -->
        <h2 class="text-xl font-semibold mb-2">Focus 2</h2>
        
        <!-- Unordered List of 4 Items -->
        <ul class="list-disc pl-4">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
        </ul>
    </div>

        <div class="h-auto rounded-lg bg-gray-200 my-11 p-6 transition-transform transform hover:scale-105">
        <!-- Placeholder for Icon (replace with your actual icon) -->
        <div class="w-12 h-12 bg-gray-300 rounded-full mb-4"></div>
        
        <!-- Title for Name -->
        <h2 class="text-xl font-semibold mb-2">Focus 3</h2>
        
        <!-- Unordered List of 4 Items -->
        <ul class="list-disc pl-4">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
        </ul>
    </div>


        <div class="h-auto rounded-lg bg-gray-200 my-11 p-6 transition-transform transform hover:scale-105">
        <!-- Placeholder for Icon (replace with your actual icon) -->
        <div class="w-12 h-12 bg-gray-300 rounded-full mb-4"></div>
        
        <!-- Title for Name -->
        <h2 class="text-xl font-semibold mb-2">Focus 4</h2>
        
        <!-- Unordered List of 4 Items -->
        <ul class="list-disc pl-4 p-3">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
        </ul>
    </div>

    <!-- Repeat the structure for other cards -->
</div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                items: 2,
                loop: true,
                margin: 10,
                nav: true,
            });
        });
    </script>
    <!--This is the front end Javascript-->
    <script src="./js/index.js"></script>
