
<h2>THIS IS THE HOMEPAGE </h2>
<a href="/login">login</a></br>
<a href="/dashboard">dashboard</a></br>
{{#if loggedin}}
  <button id="logout">Logout</button>
{{/if}}
<script src="/js/logout.js"></script>

