<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link
    href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css'
    rel='stylesheet'
  />
  <link rel='stylesheet' href='../css/style.css' />
  <link
    rel='stylesheet'
    href='https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css'
  />
</head>
<!-- Grid Container -->
<div class='grid grid-cols-1 md:grid-cols-2 gap-4 m-4 md:m-12 mt-16'>
  <!-- Carousel Container -->
  <div class='owl-carousel carousel1 owl-theme w-full max-w-3xl mt-16 mb-11'>
    <!-- Carousel Items (Repeat the structure) -->
    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Brinx.JPG'
          alt='Brinx'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Brinx</h2>
          <p>Racial Ability - Flight Focus Ability<br>
          Racial Bonus - Plus 1 to Charisma<br>
          Racial Negative - Minus 2 to Strength<br>
          Attack Prowess - D4<br>
          Defense Prowess - D12+2 </p>
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Djinni.JPG'
          alt='Djinni'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Djinni</h2>
          <p>Racial Ability - Flight Focus Ability<br>
          Racial Bonus - Plus 1 to Charisma<br>
          Racial Negative - Minus 2 to Strength<br>
          Attack Prowess - D4<br>
          Defense Prowess - D12+2 </p>
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Dwarn.jpg'
          alt='Dwarn'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Dwarn</h2>
          <p>Racial Ability - Darkvision<br>
          Racial Bonus - Plus 2 to Strength<br>
          Racial Negative - Minus 2 to Charisma<br>
          Attack Prowess - D8<br>
          Defense Prowess - D8 </p>
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Elves.JPG'
          alt='Elves'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Elv</h2>
          <p>Racial Ability - Tree Walking<br>
          Racial Bonus - Plus 1 to Reflex<br>
          Racial Negative - Minus 1 to Fortitude<br>
          Attack Prowess - D6<br>
          Defense Prowess - D10</p>        
          </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Humans.jpg'
          alt='Humans'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Humans</h2>
          <p>Racial Ability - Additional Weapon Proficiency<br>
          Racial Bonus - Plus 2 to Strength<br>
          Racial Negative - Minus 1 to Fortitude<br>
          Attack Prowess - D6<br>
          Defense Prowess - D10 </p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Musculus.JPG'
          alt='Musculus'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Musculus</h2>
          <p>Racial Ability - Vibe Unfocused Ability <br>
          Racial Bonus - Plus 2 to Reflex<br>
          Racial Negative - Minus 2 to Fortitude<br>
          Attack Prowess - D6<br>
          Defense Prowess - D10 </p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Polkans (2).jpg'
          alt='Polkans'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Polkans</h2>
          <p>Racial Ability - Double Take Focus Ability<br>
          Racial Bonus - Plus 1 to Strength<br>
          Racial Negative - Minus 3 to Reflex<br>
          Attack Prowess -D10<br>
          Defense Prowess - D6 </p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Potec (2).JPG'
          alt='Potec'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Potec</h2>
          <p>Racial Ability - Flight Focus Ability<br>
          Racial Bonus - Plus 1 to Fortitude<br>
          Racial Negative - Minus 2 to Intelligence<br>
          Attack Prowess - D6<br>
          Defense Prowess - D8 </p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Ryderz.JPG'
          alt='Ryderz'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Ryderz</h2>
          <p>Racial Ability - Tame Mount<br>
          Racial Bonus - Plus 1 to Dodge Rolls<br>
          Racial Negative - Minus 1 to Attack Rolls<br>
          Attack Prowess - D6<br>
          Defense Prowess - D12 </p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Skorc.jpg'
          alt='Skorc'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Skorc</h2>
          <p>Racial Ability - Orc Strength +3 to Str Checks<br>
          Racial Bonus - Plus 2 to Fortitude<br>
          Racial Negative - Minus 2 to Charisma<br>
          Attack Prowess - D10<br>
          Defense Prowess - D6</p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Treeton.JPG'
          alt='Treeton'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Treeton</h2>
          <p>Racial Ability - Become Natural Tree<br>
          Racial Bonus - Plus 2 to Fortitude<br>
          Racial Negative - Minus 1 to Charisma<br>
          Attack Prowess - D8<br>
          Defense Prowess - D10 </p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Tunkles.jpeg'
          alt='Tunkles'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Tunkles</h2>
          <p>Racial Ability - Replicate Self<br>
          Racial Bonus - Plus 5 to Intelligence<br>
          Racial Negative - Minus 2 to all Other Stats <br>
          Attack Prowess - D4<br>
          Defense Prowess - D4 </p>        
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Wereman.jpg'
          alt='Wereman'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Wereman</h2>
          <p>Racial Ability - Lycan Form<br>
          Racial Bonus - Plus 2 to Strength<br>
          Racial Negative - Minus 1 to Charisma<br>
          Attack Prowess - D12<br>
          Defense Prowess - D8 </p>        
        </div>
      </div>
    </div>

  </div>

  <!-- Paragraph Container -->
  <div
    class='custom-paragraph p-6 mb-11 pb-11 md:order-first text-center flex items-center flex-col justify-center'
  >
    <h1 class='title text-4xl font-bold mb-6'>Memoria the Protectors </h1>
    <p>
      The story of the protector goes back to the days of early Memoria. A
      prophecy handed down by a secret Order of Two-Leaves foretold of the first
      protector Tratt. That was long before the Hall of Protectors was formed by
      King Gregland. After Cataclsym, when several worlds came together in the
      Great Merge the Protectors were needed more than ever. The Hall of
      Protectors is always looking for new talent. And with the world so close
      to peace it wont be long before the agents of The Darkness, The Forsaken
      rise from the shadows again.
      <br /><br />
      Will you be a Swashbuckling Elv from the Swamps of Zadora? A novice
      gunslinger from the dusty town Bradenton? A down on his luck Gladiator
      from the stone streets of Ziun-Shao? Or possibly a Soldier in the Sapphire
      Legion sworn to defend Capital City? With varied options for Race, Origin,
      Focus, and Stats your build can be as unique as you. So remember, Choose
      Wisely!
    </p>
  </div>
</div>
<span class='relative flex justify-center pt-16 mt-16'>
  <div
    class='absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75'
  ></div>

</span>

<h1 id='about' class='title text-4xl font-bold mt-16 mb-6 pt-16'>About</h1>

<div
  class='custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto'
>
  <h1 class='title text-4xl font-bold mt-16 mb-6'>Character builder</h1>
  <h2>Stats - You have 15 points to assign as you see fit. (Average human has a
    2 in each category)</h2>
  <ul>
    <li>Strength: Strength is added to the damage of all Melee Attacks. There
      may also be additional checks based on Strength</li>
    <li>Reflex: added to the damage of all Ranged Attacks. Certain acrobatic
      manuevers may also require this.</li>
    <li>Fortitude: reduces the amount of damage you take and adds . A damage
      modifier. Certain phsyical checks also depend on this.</li>
    <li>Intelligence: added to the damage of all Magic Attacks. Capacity to gain
      knowledge, understand complex situations, and how NPCs engage with you.</li>
    <li>Charisma: added to all Luck, Influence, and Seduce Rolls. NPCs and
      others will interact with you differently depending on this number.</li>

  </ul>

  <p>HP stands for Hit Points. That total number of points your character has.
    Once those are depleted the character is unconscious at HP 0 and fully dead
    at HP of -10. Every protector starts out with a Base of D20 HP (Re-Rolling
    anything under 10). Every level allows you to roll another D20 to add to
    your existing HP pool.</p>

  <h2>Roll Types</h2>
  <ul>
    <li>
      <span class='dice'>⚅</span>Attack Roll: This is a roll of dice (determined
      by Attack Prowress). An opponent would roll a Defense Roll to see if you
      are succesful!</li>
    <li><span class='dice'>⚅</span>Defense Roll: This is a roll of dice
      (determined by Defense Prowress). You would need to beat an opponenets
      Attack Roll or Critically Defend in order to avoid being hit</li>
    <li><span class='dice'>⚅</span>Chance/Luck/Seduction Roll: Sometimes in game
      there are things you would like to accomplish that is outside the scope of
      standard Rolls. That's where chance Rolls come in. The DM will assign a
      value 1-100 for success. You roll Percentiles (2 D10s) for success or
      failure. Same for any diplomatic, influence, or seduction checks!</li>
    <li><span class='dice'>⚅</span>Saving Rolls: Some actions require saves. For
      Instance, Poison, Mind Altering Effects, or even Magic. These are based on
      standard D20 plus applicable bonus(s).</li>
  </ul>
</div>

<div class='col-span-2 md:col-span-1 flex justify-center items-center p-4'>
  <!-- Carousel Container -->
  <div class='owl-carousel carousel2 owl-theme w-full max-w-3xl mt-16'>
    <!-- Carousel Items (Repeat the structure) -->

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Dwarn.jpg'
          alt='Dwarn'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Character example 1</h2>
          <div class='w-12 h-12 bg-gray-300 rounded-full mb-4'></div>
          <ul class='list-disc pl-4 mb-2'>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Elves.JPG'
          alt='Elves'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Character example 2</h2>
          <div class='w-12 h-12 bg-gray-300 rounded-full mb-4'></div>
          <ul class='list-disc pl-4 mb-2'>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Humans.jpg'
          alt='Humans'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Character example 3</h2>
          <div class='w-12 h-12 bg-gray-300 rounded-full mb-4'></div>
          <ul class='list-disc pl-4 mb-2'>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='bg-white rounded-lg overflow-hidden shadow-md'>
        <img
          src='../assets/images/races/Musculus.JPG'
          alt='Musculus'
          class='w-full custom-carousel-height p-6 object-cover'
        />
        <div class='p-6'>
          <h2 class='text-xl font-bold mb-2'>Character example 4</h2>
          <div class='w-12 h-12 bg-gray-300 rounded-full mb-4'></div>
          <ul class='list-disc pl-4 mb-2'>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<span class='relative flex justify-center pt-16 mt-16'>
  <div
    class='absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75'
  ></div>
</span>

<div
  class='custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto'
>
  <h1 class='title text-4xl font-bold mt-16 mb-6'>Focus</h1>
  <p>
   Start by picking a single Focus.  You start with 2 powers plus any that may be given to you by Race or Origin.
  </p>


    <!-- Placeholder for Icon (replace with your actual icon) -->
<div class="contain-focus">
<article class="card">
                <h2 class='text-xl font-semibold mb-2'>Unfocused</h2>
            <ul class='list-disc pl-4'>
                <li>Sustenance: No longer requires eating or drinking</li>
                <li>First Strike: Can attack first withot initiative. Turn order then clockwise that turn</li>
                <li>Enhanced Awareness: +3 to Listen and Spot Checks</li>
                <li>Double Down: Your single weapon in your dominant hand duplicates and extends to your other hand.  Allowing Dual Wield without penalites.</li>
                <li>Acrobatics: Able to perform simple to medium difficuluty acrobatic maneuvers withotu having to perform a chance roll</li>
                <li>Holy Harvest - Can create an instant feast of food on any flat surface Once per Day per Level</li>
                <li>Forceful Persuade: Add Fortitue to your Diplomacy Checks.  Stacks with standard Charisma Stat</li>
                <li>Surge: Can double land/air/water speed for 1 D4hours outside of comabt or 1 D10 rounds inside combat</li>
                <li>Adrenaline Burst: +3 to your Reflex Stat for the length of Encounter</li>
                <li>Vibe: Can tell if someone is lying or not.  Not automatic must be enacted prior to hearing answer.</li>
                <li>Opportunist: Adds Intelligence to any successful Critical Attack Damage before multiplier</li>
                <li>Eye of the Druid: Able to view the world through the eyes of an animal companion.  Requires Companion</li>
                <li>Arcane Surge: +3 to Intelligence Stat for the length of the encounter</li>
                <li>Giant's Bane: +3 to Strength Stat for length of the Encounter</li>
            </ul>           
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Light</h2>
            <ul class='list-disc pl-4'>
                <li>Light Strike: Generate and Manipulate concentrated Beams of Light Energy that can be thrown.  <br> D10 Damage-5 Jinx</li>
                <li>Shield of Light: Create a field of Light Energy that can deflect or absorb incoming attacks.  <br>HP 20-5 Jinx</li>
                <li>Photon Barrier: Generate a Wall of Energy that can protect oneself or another from harm. <br>1 D4 Rounds or HP 50-15 Jinx</li>
                <li>Invisibility: Bend light around oneslef to become invisible <br> 1 D6 Rounds-15 Jinx</li>
                <li>Light Beam: Generate a continous beam of light energy that can damage targets.  <br> 2 D8 Damage-10 Jinx</li>
                <li>Light Pulse: Release a burst of Light Energy that can disorient/stun targets. <br> 1D4 Rounds-5 Jinx.</li>
                <li>Photonic Constructs: Create and Manipulate physical objects made of light energy. <br> 1D8 Rounds-20 Jinx</li>
                <li>Healer's Light: Channel Light Energy into target or self to heal their wounds of ailments.  <br> Heals 1 D4 x Char Level-10 Jinx</li>
                <li>Armor of Light: Able to summon Armor made of Light Energy. <strong>(Prerequisite: Shield of Light)</strong> <br> HP 40-10 Jinx</li>
                <li>Weapon of Light: Summon a Weapon of Light.  Can choose type of weapon, but must have that weapon type proficiency. Ignore all Criticl Misses while using this weapon. <strong>(Prerequisite: Armor of Light)</strong> <br> D20 Damage-15 Jinx  </li>
            </ul>           
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Fire</h2>
            <ul class='list-disc pl-4'>
                <li>Combustion: Able to power small Combustion or Steam devices/engines.  <br> 5 Jinx</li>
                <li>Pyrokinetic Strike: Project bursts of fire from Hands or Eyes (must choose one option when gained and it cannot be changed) <br> D 10 Damage-5 Jinx</li>
                <li>Pyrokinetic Absorbtion: Absorb and/or nuetralize fire. Equal to  3sqft of fire X Level</li>
                <li>Pyrokinetic Aura: Able to surround oneself with a protecitve Aura of Fire. <br> HP 20-10 Jinx</li>
                <li>Pyrokinetic Blast: Ability bursts from Hands or Eyes <strong> (Prerequisite: Pyrokinetic Strike) </strong> <br> 2 D10 Damage-10 Jinx</li>
                <li>Pyrokinetic Flight: Fly or Levitate by generatingthrust with Flames <strong> (Prerequisite: Pyrokinetic Absorption) <br> 20 Jinx</strong></li>
                <li>Wall of Flame: Create a Wall of Fire.  Maximum of 10ft by 10ft. <br> 1 D10 rounds-15 Jinx</li>
                <li>Meltdown: Slowly melt objects for casting (jewelry, bullets, etc). <br> 10 Jinx</li>
                <li>Body of Fire: Turn self into an Ethereal Flame. While in state take no physical damage but suspends all actions.  Perfectly aware of surroundings. <br> 15 Jinx</li>
                <li>Flame of the Follower: Line your weapon with a Prismatic Flame adding D20 damage to existing weapon damage. <strong> (Prerequisite: Pyrokinetic Flight) </strong> <br> 10 Jinx</li>
            </ul>           
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Air</h2>
            <ul class='list-disc pl-4'>
                <li>Aerokinesis: Manipulate air to create various weather phenomena such as wind, rain, and minor undirected lightning. <br> 5 Jinx</li>
                <li>Gust of Air: Blast target with Gust of Air pushing them back 1 square. <br> D8 Damage-5 Jinx</li>
                <li>Storm Summoner: Create storms, thunderstorms, and undirected tornados. <strong>(Prerequisite: Aerokinesis)</strong> <br> 15 Jinx</li>
                <li>Flight: Take Flight for 1 D6 rounds during combat.  Non-combat 1 D20 minutes before needing a short rest. <strong>(Prerequisite: Gust of Air)</strong> <br> 20 Jinx</li>
                <li>Negate Fall: Use the Air Below to negate standard fall damage. <br> 5 Jinx</li>
                <li>Whirlwind: Create a Whirlwind of Air around an opponenet casuing enemies in adjacent squares to be knocked down. <strong>(Prerequisite: Gust of Air)</strong> <br> 10 Jinx</li>
                <li>Just the Wind: Make no sound while moving for 1 D6 rounds. <br> 10 Jinx</li>
                <li>Thunder Wave: Make a loud Thundering Sound that deafens anyone but self in a 15ft area.  <br> 15 Jinx</li>
                <li>Survivalist: Able to ignore all element and weather effects for 1 D20 Rounds. <br> 10 Jinx</li>
                <li>Armor of Air: Swirling Air and Cloud in the shape of Armor surrounds you. Taking damage until depleted. <strong>(Prerequisite: Flight)</strong> <br> 5 Jinx</li>
            </ul>            
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Mind</h2>
            <ul class='list-disc pl-4'>
                <li>Allied Influence: Absorb the Power of another Protector by Touch. Only 1 Power is retained at a time. <br> 10 Jinx</li>
                <li>Ward of Protection: Summon a transparent gem-shaped Shield that will take damage. <br> 20 HP-15 Jinx</li>
                <li>Telekinetic Blast: Unleash a burst of Telekinetic Energy knocking the target back 1 square. <br> D8 damage-5 Jinx</li>
                <li>Telekinetic Barrier: Create a Telekinetic Shield or Barrier to protect onself/others. <br> 5 Jinx</li>
                <li>Telekinetic Flight: Fly with Willpower for 1 D6 rounds during combat.  Non-combat up to D10 minutes. <strong>(Prerequisite Telekinetic Blast)</strong> <br> 20 Jinx; </li>
                <li>Telekinetic Grasp: Create a large Hand to grasp and hold onto objecst or opponents. If attack is successful a target will lose their next turn. <strong>(Prerequisite: Telekinetic Blast</strong> <br> 20 </li>
                <li>Mental Havoc: Create chaos and destruction with Telekinetic Energy.  <strong>(Prerequisite: Telekinetic Flight)</strong> <br> 15 Jinx</li>
                <li>Power of the Mind: Use Telekinetic Energy to repair or heal living tissue.  Restores 10 HP. <br> 5 Jinx</li>
                <li>Invisibility Projection: Erase your presensce in a target's mind for 1 D6 Rounds. <br> 5 Jinx </li>
                <li>Influencer: Gain +10 on any Chance Percentile Roll. <br> 5 Jinx </li>
            </ul>           
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Body</h2>
            <ul class='list-disc pl-4'>
                <li>Relection: Reflect a target's attack back to them.  Acts as Attack of Opportunity towards target.  <br> 15 Jinx <br> </li>
                <li>Bloodlust: Automatically move to the next target within range and engage in an Attack of Opportunity directly aftering killing or knocking out a target. <br> 10 Jinx </li>
                <li>Boomerang: Your thrown weapon will return back to you much like a boomerang. <br> 5 Jinx</li>
                <li>Handvil: Hands morph into large Anvils when they connect with a target.  <strong>(Does not Require Mirrored Hands to Dual Wield this abilty)</strong> <br> D10 damage-5 Jinx</li>
                <li>Ironside: Body turns into Iron until HP depleted. <strong>(Prerequisite: Handvil)</strong> <br> 5 Jinx </li>
                <li>Wallcrawler: Able to grip the small ledge of even smooth surfaces to crawl up walls. <strong>(Prerequisite: Acrobatics)</strong> <br> 5 Jinx</li>
                <li>Double Take: Double your Actions Per Turn and lasts until the end of encounter. <strong>(Prerequisite: Handvil)</strong> <br> 10 Jinx </li>
                <li>Encore: When you hit a target for Critical Damage get an immediate Attack of Opportunity. <br> 10 Jinx</li>
                <li>Iron X: Skin hardens into an impenetrable metal shell for 1 D4 rounds. <strong>(Prerequisite: Ironside)</strong> <br> 25 Jinx</li>
                <li>Finishing Move: When an engaged target's HP is lower than 10% of total HP can perform a Finishing Power Move that provides an instant kill (does not include Boss Level or Higher). <strong>(Prerequisite:Bloodlust)</strong> <br> 10 Jinx </li>
            </ul>           
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Lightning</h2>
            <ul class='list-disc pl-4'>
                <li>Static Shock: Discharge Electricity from the body stunning adjacent enemies for 1 D4 rounds.<br> 5 Jinx  </li>
                <li>Lightning Bolt: Unleash a Bolt of Lightning fromt he hands or fingertips. <br> D10 Damage-5 Jinx</li>
                <li>Electrostatic Field: Create a Field of Electricity around the body absorbing damage. <br> HP 50-15 Jinx</li>
                <li>Shocking Flight: Propel oneself through the air with Electrostatic Discharge. 1 D4 Rounds in Combat. Non-combat D10 Minutes<br>25 Jinx </li>
                <li>Voltage Spike: Increase the Voltage of your Lightning Bolt by 1 D8 in addition to Lighting Damage. <strong>(Prerequisite: Lightning Bolt)</strong> <br> D8 damage-10 Jinx</li>
                <li>EMP: Disrupt mechanical or electrical devices with a burst of electricity. <br> 5 Jinx</li>
                <li>Electric Regeneration: Direct Electric Impulses in the brain to speed up healing.  Heals for D4 HP for 3 rounds. <br> 5 Jinx </li>
                <li>Signals: Send Electric Signals to telepathically send messages to others. <br> 5 Jinx</li>
                <li>Amp'ed Up: Increase all Stats by 2 for the length of the Encounter. <br> 15 Jinx</li>
                <li>Thunder Bolt: Throw a Bolt of Lightning towards a target 25ft away. <strong>(Prerequisite: Requires Voltage Spike)</strong> <br> D10+D6 Damage-15 Jinx</li>
            </ul>           
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Health</h2>
            <ul class='list-disc pl-4'>
                <li>Surge Mender: Heal target for up to 50HP, but they lose D8 HP each round for 3 Rounds. <br> 10 Jinx </li>
                <li>Cure Wounds: Cure others for 1 D8 HP x Level. <br> 10 Jinx </li>
                <li>Atonement: Heals self for 20HP <strong>(Prerequisite: Cure Wounds)</strong> <br> 10 Jinx </li>
                <li>Mender's Focus: Heals specified target for 5 HP every round unti you target another or attack a target. <br> 15 Jinx </li>
                <li>Chain of Healing: Heal a target for 15hp.  Then Roll a Chance Roll.  Ifyou roll 50+ you can heal another target up 2 more times. <br> 15 Jinx </li>
                <li>Guardian Angel: Target an Ally.  When they drop to 0 HP they regain half of their total HP.  Target must be "targeted" before dropping to 0. <strong>(Prerequisite: Atonement)</strong> <br> 15 Jinx </li>
                <li>Healer's Reward: Whenever you heal an ally you can heal for D6 HP. <br> 5 Jinx </li>
                <li>Summon Angel: Summon an Angel once per Day. Angel type chosen by DM> <br> 25 Jinx</li>
                <li>Ward Away Death: If a protector goes to -10 HP they can use Ward Away death for up to 1 hour.  If target is healed to at least 1hp during that hour they suffer no effects, otherwise Death. <br> 35 Jinx</li>
                <li>Redemption: Re-roll any failed roll once per gaming session per level. <br> 10 Jinx </li>
            </ul>           
        </article>

        <article class="card">

            <h2 class='text-xl font-semibold mb-2'>Water</h2>
            <ul class='list-disc pl-4'>
                <li>Waterblast: Blast pressurized water from hands. <br> D8 Damage-5 Jinx </li>
                <li>Frost Spike: Shoots Frozen spike our of hand. <br> D10 Damage</li>
                <li>Shark Bite: Head turns into a Shark able to cause Bite damage. <br> D12</li>
                <li>Freeze Punk: Freeze target for up to 1 D6 rounds. <strong>(Prerequisite: Frost Spike)</strong> <br> 10 Jinx</li>
                <li>Nature's Ally: Flood plants with water making them grow and restrain target. Target loses next turn. <br> D10 damage-10 Jinx</li>
                <li>Splash Suit: Sprout Gills to breath underwater, skin develops scales, and feet will web.  1 D6 rounds in Combat.  Non-combat 1 D20 minutes.<br> 15 Jinx </li>
                <li>Inkjet: Shoot inky substance from eyes blinding target for 1 D4 rounds. <br> 5 Jinx </li>
                <li>Blowhole: Shoot water from magically appearing/dissapering blowhold from top of head. <strong>(Prerequisite: Water Blast or Shark Bite)</strong> <br> 15 Jinx</li>
                <li> Armor of Ice: Create an Armor of Ice for self or Party Member. <br> 50 HP-10 Jinx</li>
                <li>Frosted Edge: Frost the edge of any Melee Weapon to add D20 to existing damage. <strong>(Prerequisite:Freeze Punk or Blowhole)</strong> <br> 20 Jinx </li>
            </ul>           
        </article>

        <article class="card">
            <h2 class='text-xl font-semibold mb-2'>Teleportation (Prerequisite: Mastery of Any Focus)</h2>
            <ul class='list-disc pl-4'>
                <li>Teleport Self: Teleport self to a square adjacent to an enemy as a standard action.   Outside of combat you can teleport 20ft.  <br> 10 Jinx</li>
                <li>Teleportantional Tracking: Sense and track the location and movement of other teleporters. <br>5 Jinx</li>
                <li>Teleportantional Barrier: Create a Field of Light that prevents teleportation within a 25ft area. Only one active barrier at a time <br> 5 Jinx</r></li>
                <li>Teleportantional Aura: Extend one's Teleportantional Aura to objects or people in close proximity.  Can take up to 3 others along.  You must teleport there with them! <br> 5 Jinx</li>
                <li>Teleportantional Viewing: Scan and Gather information about a location before teleporting there. <br> 15 Jinx</li>
                <li>Teleportantional Recall: Recall objects or weapons after thrown, dropped, taken, etc.  They must be owned by player or an ally.  Can recall to self or recall Party memebers weapon to owner.  <br> 5 Jinx</li>
                <li>Teleport Party: Teleport Self or Party member to a square adjacent to an enemy as a free action at start of turn.  Outside of combat you can teleport 75ft. <strong>(Prerequisite: Teleport Self)</strong> <br> 20 Jinx</li>
                <li>Teleportantional Duplication: Create a duplicate of oneself by teleporting a copy to a different location. Controllable on next turn for 1 D6 turns. <br> 15 Jinx</li>
                <li>Teleport Realms: Teleport self and/or party to adjacent Realm of Existence.  You can not teleport again until you return to "Home" realm. <strong>(Requires: Teleport Party)</strong> <br> 25 Jinx</li>
                <li>Teleportantional Redirection: Rediriect the path of a teleportation to a different location. <strong> (Prerequisite: Teleporty Party</strong> <br> 10 Jinx</li>
            </ul>
  </div>




    <!-- Title for Name -->
    <h2 class='text-xl font-semibold mb-2'>Origin Downloads:</h2>

    <!-- Unordered List of Features -->
    <ul class='list-disc pl-4 p-3 flex-grow'>
        <li><a href="/public/assets/downloads/Origin of the Divine.docx" download>Divine</a></li>
        <li><a href="/public/assets/downloads/Origin of the Mind.docx"download>Mind</a></li>
        <li><a href="/public/assets/downloads/Origin of the Body.docx" download>Body</a></li>
        <li><a href="/public/assets/downloads/Origin of the Eye.docx" download>Eye</a></li>
    </ul>
  </div>

  <div
  class='custom-paragraph p-6 md:order-first text-center flex items-center flex-col justify-center w-1/2 mx-auto'
>
  <h1 class='title text-4xl font-bold mt-16 mb-6'>Mission</h1>
  <p>
    Simple the main missing is to have fun!
  </p>
</div>

<span class='relative flex justify-center pt-16 mt-16'>
  <div
    class='absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75'
  ></div>
</span>

<h1 id='team' class='title text-4xl font-bold mt-16 mb-6 pt-16'>Team</h1>



<div class='grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 p-16 m-3 my-16'>
  <!-- Card 1 -->
  <div
    class='h-auto rounded-lg bg-gray-200 p-4 text-center transition-transform transform hover:scale-105'
  >
    <h2 class='text-xl font-semibold my-11'>Card 1</h2>
    <div class='w-24 h-24 bg-gray-300 rounded-full mb-4 mx-auto'></div>
    <h3 class='text-lg font-medium mb-2 text-left'>Tasks Done:</h3>
    <ol class='list-decimal pl-4 mb-4 text-left'>
      <li>Task 1</li>
      <li>Task 2</li>
      <li>Task 3</li>
    </ol>
    <div class='flex items-center space-x-2 justify-center'>
      <!-- Replace these icons with your actual icons -->
      <div class='w-6 h-6 bg-blue-500 rounded-full'></div>
      <div class='w-6 h-6 bg-green-500 rounded-full'></div>
      <div class='w-6 h-6 bg-red-500 rounded-full'></div>
    </div>
  </div>

  <!-- Card 2 -->
  <div
    class='h-auto rounded-lg bg-gray-200 p-4 text-center transition-transform transform hover:scale-105'
  >
    <h2 class='text-xl font-semibold my-11'>Card 2</h2>
    <div class='w-24 h-24 bg-gray-300 rounded-full mb-4 mx-auto'></div>
    <h3 class='text-lg font-medium mb-2 text-left'>Tasks Done:</h3>
    <ol class='list-decimal pl-4 mb-4 text-left'>
      <li>Task 1</li>
      <li>Task 2</li>
      <li>Task 3</li>
    </ol>
    <div class='flex items-center space-x-2 justify-center'>
      <!-- Replace these icons with your actual icons -->
      <div class='w-6 h-6 bg-blue-500 rounded-full'></div>
      <div class='w-6 h-6 bg-green-500 rounded-full'></div>
      <div class='w-6 h-6 bg-red-500 rounded-full'></div>
    </div>
  </div>

  <!-- Card 3 -->
  <div
    class='h-auto rounded-lg bg-gray-200 p-4 text-center transition-transform transform hover:scale-105'
  >
    <h2 class='text-xl font-semibold my-11'>Card 3</h2>
    <div class='w-24 h-24 bg-gray-300 rounded-full mb-4 mx-auto'></div>
    <h3 class='text-lg font-medium mb-2 text-left'>Tasks Done:</h3>
    <ol class='list-decimal pl-4 mb-4 text-left'>
      <li>Task 1</li>
      <li>Task 2</li>
      <li>Task 3</li>
    </ol>
    <div class='flex items-center space-x-2 justify-center'>
      <!-- Replace these icons with your actual icons -->
      <div class='w-6 h-6 bg-blue-500 rounded-full'></div>
      <div class='w-6 h-6 bg-green-500 rounded-full'></div>
      <div class='w-6 h-6 bg-red-500 rounded-full'></div>
    </div>
  </div>
</div>

<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script
  src='https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js'
></script>
<script>
  $(document).ready(function(){ $('.carousel1').owlCarousel({ items: 2, loop:
  true, margin: 10, nav: true, }); }); $(document).ready(function(){
  $('.carousel2').owlCarousel({ items: 1, loop: true, margin: 10, nav: true, });
  });
</script>
<!--This is the front end Javascript-->
<script src='./js/index.js'></script>